*{
box-sizing:border-box;
}


body{

margin:0;

font-family:"Segoe UI",Arial,sans-serif;

background:#f7faf8;

color:#333;

}




nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.logo{

font-size:26px;

font-weight:800;

color:#0B6B4F;

}



.menu a{

text-decoration:none;

margin-left:25px;

color:#333;

font-weight:600;

}




/* HERO */

.hero{

display:flex;

align-items:center;

gap:50px;

padding:70px 8%;

background:

linear-gradient(
135deg,
#0B6B4F,
#1b8f70
);

color:white;

min-height:80vh;

}



.hero-text{

flex:1;

}



.hero-text h1{

font-size:60px;

line-height:1.1;

}



.hero-text p{

font-size:20px;

line-height:1.7;

}



.hero-image{

flex:1;

}



.hero-image img{


width:100%;

border-radius:30px;

box-shadow:

0 20px 40px rgba(0,0,0,.3);

}






button{

padding:15px 30px;

border:none;

border-radius:30px;

background:#D4AF37;

color:white;

font-weight:bold;

font-size:16px;

cursor:pointer;

margin:10px;

}



.secondary{

background:white;

color:#0B6B4F;

}





/* STAT */

.stats-home{

display:flex;

justify-content:center;

gap:30px;

padding:60px 5%;

flex-wrap:wrap;

}




.card{

background:white;

width:250px;

padding:35px;

text-align:center;

border-radius:25px;

box-shadow:

0 10px 30px rgba(0,0,0,.1);

}



.card h1{

font-size:45px;

color:#0B6B4F;

}







.about{

padding:70px 10%;

text-align:center;

}



.about h2{

font-size:38px;

color:#0B6B4F;

}





.feature{

display:flex;

justify-content:center;

gap:30px;

padding:50px;

flex-wrap:wrap;

}



.feature div{

background:white;

width:300px;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:

0 10px 25px rgba(0,0,0,.1);

}



.feature h2{

color:#0B6B4F;

}




.cta{

background:#0B6B4F;

color:white;

text-align:center;

padding:70px;

}



footer{

background:#063c2d;

color:white;

text-align:center;

padding:20px;

}







@media(max-width:800px){


.hero{

flex-direction:column;

}


.hero-text h1{

font-size:40px;

}


.menu{

display:none;

}

}