.school-button{

background:white;

color:#0B6B4F;

border:2px solid #D4AF37;

}



.school-button:hover{

background:#D4AF37;

color:white;

}




@media(max-width:800px){


.hero-button button{

width:100%;

margin:8px 0;

}



}