*{

box-sizing:border-box;

}



body{


margin:0;


font-family:"Segoe UI",Arial,sans-serif;


background:#f4f8f6;


}





header{


background:#0B6B4F;


color:white;


text-align:center;


padding:35px 20px;


}




header img{


width:80px;


height:80px;


object-fit:contain;


}





header h1{


margin:10px 0 5px;


font-size:30px;


}






.profile-card{


width:92%;


max-width:550px;


margin:30px auto;


background:white;


padding:25px;


border-radius:25px;


text-align:center;


box-shadow:


0 15px 35px rgba(0,0,0,.1);


}





.foto-alumni{


width:150px;


height:150px;


border-radius:50%;


object-fit:cover;


border:5px solid #D4AF37;


}





.profile-card h2{


color:#0B6B4F;


font-size:28px;


}




.quote{


font-style:italic;


color:#777;


line-height:1.6;


}






.data{


margin-top:30px;


display:flex;


flex-direction:column;


gap:15px;


}





.data div{


background:#f5f8f6;


padding:15px;


border-radius:15px;


text-align:left;


}



.data span{


display:block;


color:#777;


font-size:14px;


}



.data strong{


display:block;


margin-top:5px;


font-size:17px;


color:#333;


}






button{


margin-top:30px;


width:100%;


padding:15px;


border:none;


border-radius:30px;


background:#0B6B4F;


color:white;


font-size:16px;


font-weight:bold;


}





button:hover{


background:#084d39;


}






@media(min-width:768px){


.profile-card{


padding:40px;


}


}