*{
box-sizing:border-box;
}


body{

margin:0;

font-family:"Segoe UI",Arial,sans-serif;

background:#f5f8f6;

}



.header-public{

background:#0B6B4F;

color:white;

padding:50px 20px;

text-align:center;

}



.header-public h1{

font-size:42px;

margin:0;

}



.search-box{

display:block;

margin:40px auto;

width:400px;

max-width:90%;

padding:15px;

border-radius:30px;

border:1px solid #ddd;

font-size:16px;

}





#listAlumni{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

padding:20px;

}





.card-alumni{


background:white;


width:280px;


padding:30px;


border-radius:25px;


text-align:center;


box-shadow:

0 10px 30px rgba(0,0,0,.1);


transition:.3s;


}



.card-alumni:hover{

transform:translateY(-8px);

}





.card-alumni img{


width:120px;


height:120px;


border-radius:50%;


object-fit:cover;


border:5px solid #D4AF37;


}





.card-alumni h2{


color:#0B6B4F;


}



.card-alumni span{


display:block;

margin:8px;


color:#555;


}